<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <center><h1>Pastikan Drive Z: sudah OK</h1></center>
    <ol>Cara mengaktifkan Drive Z:
      <li>Di menu utama Pentra400, klik icon exit</li>
      <li>Pilih change user, pilih OK</li>
      <li>Pilih user tech, pilih OK</li>
      <li>Kembali ke menu utama, pilih menu diagnostic</li>
      <li>Klik logo explorer di kiri bawah (warna kuning).</li>
      <li>Klik menu Start, pilih run</li>
      <li>Ketik cmd, enter</li>
      <li>Ketik net start server, enter</li>
      <li>Ketik net start workstation, enter</li>
      </ol>
  </div>
</body>
</html>
