<div id="role-options-<%= @pasien2.id_pasien %>" class="modal" style="display: none;">
  <%= simple_form_for(@pasien2) do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Ubah Umur</h3>
    </div>
    <div class="modal-body">
      <%= f.input :umur %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Ubah", :class => "btn btn-warning" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>